<div class="container">
  <form class="mat-dialog-container">


    <mat-form-field appearance="fill">
      <mat-label>Select computer</mat-label>
      <mat-select [(value)]="computer">
        <mat-option *ngFor="let computer of computerArray" [disabled]="computer.assigned" [value]="computer">
            {{computer.model}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions>
      <button mat-button (click)="onAssign(data.id)" style="background-color: lightblue">Add</button>
      <button mat-button (click)="onCancel()" style="background-color: lightpink">Cancel</button>
    </mat-card-actions>
  </form>
</div>
