<h1>Add Tag</h1>
<mat-form-field color="accent">
  <input matInput required>
<!--  <mat-error *ngIf="formControl.invalid">{{errorMessage()}}</mat-error>-->
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button (click)="onAdd()">Add</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>
