<div class="container">
  <form class="mat-dialog-container">
    <h1 mat-dialog-title>Additional details</h1>

    <h2>Assign Part</h2>
    <div class="inputFilds">
      <mat-form-field appearance="outline">
        <mat-label>Select part</mat-label>
        <mat-select [(value)]="part">
          <mat-option *ngFor="let part of partList" [disabled]="part.quantity === 0" [value]="part">
            {{part.brand}} {{part.model}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <mat-table [dataSource]="assignPartList" class="mat-elevation-z8">

      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
        <mat-cell *matCellDef="let part">{{part.model}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let part">{{part.price|currency}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let part">
          <button (click)="onRemovePart(data.id,part.id)" mat-button style="background-color: lightpink">Remove</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <h4>Final Price: {{data.finalPrice|currency}}</h4>

    <mat-radio-group class="radioGroup" [formControl]="fixed">
      <mat-radio-button [value]="true">Fixed</mat-radio-button>
      <mat-radio-button [value]="false">Not Fixed</mat-radio-button>
    </mat-radio-group>

    <mat-card-actions>
      <button mat-button style="background-color: lightblue" (click)="onAssign(data.id,part.id)">Save</button>
      <button mat-button style="background-color: lightpink" (click)="onCancel()">Cancel</button>
    </mat-card-actions>

  </form>
</div>
