<div class="container">
  <form class="mat-dialog-container">
    <h1 mat-dialog-title>Add Part</h1>

    <mat-form-field appearance="outline">
      <mat-label>Enter a brand</mat-label>
      <input id="brand" matInput placeholder="AMD" [formControl]="brand" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter the model</mat-label>
      <input id="model" matInput placeholder="Ryzen 5" [formControl]="model" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter the price</mat-label>
      <input id="price" matInput placeholder="123" [formControl]="price" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter the quantity</mat-label>
      <input id="quantity" matInput placeholder="10" [formControl]="quantity" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter a description</mat-label>
      <textarea id="description" matInput placeholder="Some text" [formControl]="description"></textarea>
    </mat-form-field>

    <mat-card-actions>
      <button id="addedPart" mat-button (click)="onAdd()" style="background-color: lightblue">Add</button>
      <button mat-button (click)="onCancel()" style="background-color: lightpink">Cancel</button>
    </mat-card-actions>
  </form>
</div>
