<div class="container">
  <form class="mat-dialog-container">
    <h1 mat-dialog-title>Login</h1>
    <mat-form-field appearance="outline">
      <mat-label>Enter username</mat-label>
      <input id="username" matInput placeholder="e.g jSmith" [formControl]="username" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter password</mat-label>
      <input id="password" matInput [type]="hidePass ? 'password':'text'" [formControl]="password" required>
      <button mat-button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-card-actions>
      <button id="loginButton" mat-button style="background-color: lightblue" (click)="onLogin()">Login</button>
    </mat-card-actions>

  </form>
</div>
