<div class="container">
  <form class="mat-dialog-container">
    <h1 mat-dialog-title>Add Computer</h1>

    <mat-form-field appearance="outline">
      <mat-label>Enter model</mat-label>
      <input matInput placeholder="Acer Predator" [formControl]="model" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter problem</mat-label>
      <textarea matInput placeholder="Water damage" [formControl]="problem" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Initial price</mat-label>
      <input matInput placeholder="123" [formControl]="initialPrice" required>
    </mat-form-field>

    <mat-card-actions>
      <button mat-button (click)="onAdd()">Add computer</button>
      <button mat-button (click)="onCancel()">Cancel</button>
    </mat-card-actions>

  </form>
</div>
