<div mat-dialog-content class="container">
  <form class="mat-dialog-container" #formControl="ngForm">
    <h1 mat-dialog-title>Part ID:{{data.id}}</h1>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Brand" [(ngModel)]="data.brand" name="brand" required>
        <mat-error *ngIf="formControl.invalid">{{errorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Model" [(ngModel)]="data.model" name="model" required>
        <mat-error *ngIf="formControl.invalid">{{errorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Price" [(ngModel)]="data.price" name="price" required>
        <mat-error *ngIf="formControl.invalid">{{errorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Quantity" [(ngModel)]="data.quantity" name="quantity" required>
        <mat-error *ngIf="formControl.invalid">{{errorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Description" [(ngModel)]="data.description" name="description"
                  required></textarea>
        <mat-error *ngIf="formControl.invalid">{{errorMessage()}}</mat-error>
      </mat-form-field>
    </div>


    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let tag">{{tag.name}}</mat-cell>
        </ng-container>

        <!--Icons-->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
            <input matInput placeholder="Input tag name here" [formControl]="name" required>
            <button mat-icon-button color="primary" (click)="onAddTag(data.id)">
              <mat-icon aria-label="Add">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let tag; let i = index">
            <button mat-icon-button color="accent">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button color="accent" (click)="onDeleteTag(tag.id)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
      </mat-table>
    </div>

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="1" (click)="onUpdate(data.id)" [disabled]="!formControl.valid">Save
      </button>
      <button mat-button (click)="onCancel()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
