<div class="container">
  <form class="mat-dialog-container">
    <h1 mat-dialog-title>Add Employee</h1>

    <mat-form-field appearance="outline">
      <mat-label>Enter a first name</mat-label>
      <input matInput placeholder="John" [formControl]="firstName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter a last name</mat-label>
      <input matInput placeholder="Smith" [formControl]="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter a username</mat-label>
      <input matInput placeholder="jSmith" [formControl]="username" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter a password</mat-label>
      <input matInput [formControl]="password" required>
    </mat-form-field>

    <mat-radio-group class="radioGroup" [formControl]="employeeRole">
      <mat-label>Admin</mat-label>
      <mat-radio-button [value]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>

    <mat-card-actions>
      <button mat-button (click)="onAdd()" style="background-color: lightblue">Add</button>
      <button mat-button (click)="onCancel()" style="background-color: lightpink">Cancel</button>
    </mat-card-actions>
  </form>
</div>
