<mat-card>
  <form class="detailForm">

    <h1 mat-dialog-title>Profile</h1>
    <p></p>

<!--    <h2>Role: {{employee.employeeRole}}</h2>-->

    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput  [value]="employee.firstName" [readonly]="readonly" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput [value]="employee.lastName" [readonly]="readonly" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput  [value]="employee.username" [readonly]="readonly" required>
    </mat-form-field>

  </form>

  <h2><strong>Assigned work</strong></h2>

  <mat-table [dataSource]="computerList" class="mat-elevation-z8">
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.model}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="problem">
      <mat-header-cell *matHeaderCellDef>Problem</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.problem}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="initialPrice">
      <mat-header-cell *matHeaderCellDef>Initial Price</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.initialPrice | currency}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isFixed">
      <mat-header-cell *matHeaderCellDef>Is Fixed</mat-header-cell>
      <mat-cell *matCellDef="let computer">
        <mat-icon *ngIf="computer.fixed" style="color: green">done</mat-icon>
        <mat-icon *ngIf="computer.fixed===false" style="color: red">clear</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="finalPrice">
      <mat-header-cell *matHeaderCellDef>Final Price</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.finalPrice | currency}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>-</mat-header-cell>
      <mat-cell *matCellDef="let computer">
        <button (click)="onAssignPart(computer.id, computer.finalPrice)" mat-icon-button color="accent">
          <mat-icon aria-label="edit">computer</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
