<div class="container">
  <h3 mat-dialog-title>Confirm delete</h3>

 <!-- <div mat-dialog-content>
    Product ID: {{data.productId}}
    <p></p>
    Brand: {{data.brand}}
    <p></p>
    Model: {{data.model}}
    <p></p>
    Price: {{data.price}}
    <p></p>
    Warranty: {{data.warrantyTime}}
  </div>-->

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="onDelete(data.id)">Delete</button>
    <button mat-button (click)="onCloseClick()" tabindex="-1">Cancel</button>
  </div>

</div>
