/*table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

.table-div{
  display:grid;
  justify-content: center;
  text-align-last: center;
}

th {
  min-width: 80px;
}*/
table {
  width: 100%;
}
mat-header-cell, mat-cell {
  justify-content: left;
}
.left-text {
  text-align: left;
}

