<div class="mat-elevation-z8">

      <mat-form-field color="accent">
        <input  matInput (input)="applyFilter($any($event.target).value)"  placeholder="Search">
      </mat-form-field>


    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Brand</mat-header-cell>
        <mat-cell *matCellDef="let part" >{{part.brand}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
        <mat-cell *matCellDef="let part" >{{part.model}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
        <mat-cell *matCellDef="let part" >{{part.price | currency}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let part" >{{part.quantity}}</mat-cell>
      </ng-container>

      <!-- Icons -->
      <ng-container matColumnDef="actions">

      <mat-header-cell *matHeaderCellDef>
          <button id="addPart" mat-icon-button color="primary" (click)="addPart()">
            <mat-icon aria-label="Add">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let part; let i = index">
            <button mat-icon-button color="accent" (click)="edit(i, part.id, part.productID, part.brand, part.model, part.price, part.quantity,part.description)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

          <button mat-icon-button color="accent" (click)="deletePart(part.id)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Displaying the columns -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

</div>
