.employee-container {
  display: contents !important;

  flex-direction: column;
  align-items: baseline;
}

.innerContent{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.containerCard{
  inline-size: fit-content;
  float: left;
}

.detailForm{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.admin{
  display: flex;
  flex-direction: column;
}
