<mat-card class="containerCard">
  <button mat-button (click)="onAddEmployee()" style="background-color: lightblue">Add Employee</button>
  <div class="innerContent" *ngFor="let employee of dataArray">
    <mat-card class="my-2 card-container">
      <mat-card-content>
        {{employee.firstName}} {{employee.lastName}}
        <button mat-icon-button (click)="displayEmployeeInfo(employee.id); showForm=!showForm" color="primary"
                style="background-color: lightpink">
          <mat-icon aria-label="Expand">expand</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-subtitle>
        {{employee.username}}
      </mat-card-subtitle>
    </mat-card>
  </div>
</mat-card>

<div>
  <mat-card class="container">
    <form class="detailForm">
      <h1 mat-dialog-title>Details</h1>
      <h4 mat-dialog-title>Employee ID:{{employeeDetails.id}}</h4>
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput [value]="employeeDetails.firstName" [readonly]="readonly">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput [value]="employeeDetails.lastName" [readonly]="readonly">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [value]="employeeDetails.username" [readonly]="readonly">
      </mat-form-field>

    </form>

    <p></p>
    <button mat-button color="primary" style="background-color: lightblue" (click)="onAssignComputer(employeeDetails.id)">Assign computer</button>
    <p></p>

    <mat-table [dataSource]="computerList" class="mat-elevation-z8">
      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
        <mat-cell *matCellDef="let computer">{{computer.model}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="problem">
        <mat-header-cell *matHeaderCellDef>Problem</mat-header-cell>
        <mat-cell *matCellDef="let computer">{{computer.problem}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let computer">{{computer.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="initialPrice">
        <mat-header-cell *matHeaderCellDef>Initial Price</mat-header-cell>
        <mat-cell *matCellDef="let computer">{{computer.initialPrice | currency}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="isFixed">
        <mat-header-cell *matHeaderCellDef>Is Fixed</mat-header-cell>
        <mat-cell *matCellDef="let computer">
          <mat-icon *ngIf="computer.fixed" style="color: green">done</mat-icon>
          <mat-icon *ngIf="computer.fixed===false" style="color: red">clear</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="finalPrice">
        <mat-header-cell *matHeaderCellDef>Final Price</mat-header-cell>
        <mat-cell *matCellDef="let computer">{{computer.finalPrice | currency}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-card>
</div>
