<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [mode]="(isHandset | async) ? 'over' : 'side'"
               [opened]="!(isHandset | async)">

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <div *ngIf="isEmployeeLogged()===true">
      <mat-nav-list *ngIf="isAdmin">
        <a mat-list-item [routerLink]="['/part']">Inventory</a>
        <a mat-list-item [routerLink]="['/employee']">Employees</a>
        <a mat-list-item [routerLink]="['/computers']">Computers</a>
        <a mat-list-item [routerLink]="['/profile-page']">Profile</a>
        <a mat-list-item [routerLink]="['/chat']">Chat</a>
        <button mat-button (click)="onLogout()">Log out</button>
      </mat-nav-list>

      <mat-nav-list *ngIf="isEmployee">
        <a mat-list-item [routerLink]="['/profile-page']">Profile</a>
        <a mat-list-item [routerLink]="['/chat']">Chat</a>
        <button mat-button (click)="onLogout()">Log out</button>
      </mat-nav-list>
    </div>

    <div *ngIf="isEmployeeLogged()===false">
      <mat-nav-list>
        <a mat-list-item routerLink="/login">Login</a>
      </mat-nav-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <span>System</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav #panel class="panel" position="end">
    <ng-container #content></ng-container>
  </mat-sidenav>

</mat-sidenav-container>
