<div class="mat-elevation-z8">
  <button (click)="onAddComputer()" mat-button color="primary" style="background-color: lightblue">Add computer</button>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.model}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="problem">
      <mat-header-cell *matHeaderCellDef>Problem</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.problem}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="initialPrice">
      <mat-header-cell *matHeaderCellDef>Initial Price</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.initialPrice | currency}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isFixed">
      <mat-header-cell *matHeaderCellDef>Is Fixed</mat-header-cell>
      <mat-cell *matCellDef="let computer">
        <mat-icon *ngIf="computer.fixed" style="color: green">done</mat-icon>
        <mat-icon *ngIf="computer.fixed===false" style="color: red">clear</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="finalPrice">
      <mat-header-cell *matHeaderCellDef>Final Price</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.finalPrice | currency}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isAssigned">
      <mat-header-cell *matHeaderCellDef>Assigned</mat-header-cell>
      <mat-cell *matCellDef="let computer">{{computer.assigned}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
