<div class="container">
  <div class="chatContent">
    <mat-card class="chatText">
      <ul>
        <li *ngFor="let chatMessage of webSocketService.chatMessage">
          <strong>{{chatMessage.user}}</strong>
          <span>{{chatMessage.message}}</span>
        </li>
      </ul>
    </mat-card>
  </div>
  <p></p>
  <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm" class="mat-dialog-container">
    <mat-form-field appearance="outline" class="chatBox">
      <mat-label>Enter message</mat-label>
      <input class="form-control" matInput placeholder="Message" name="Message" ngModel>
    </mat-form-field>
      <button type="submit" mat-button style="background-color: lightblue">Send</button>
  </form>
</div>
